<div class="modal hide fade" style="display: none;" aria-hidden="true">
  <div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">×</button>
    <h3><%= content_for :title %></h3>
  </div>
  <%= yield %>
</div>