<% if action_button_groups.any? %>
<div class="btn-toolbar">
  <% action_button_groups.reverse.each do |group| %>
  <div class="btn-group">
    <% group[:buttons].each do |button| %>
    <%= link_to(button[:title], button[:path], button[:options].merge({:class => "btn btn-small btn-"+button[:type]+" "+button[:class]})) %>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>