<div class="btn-toolbar resource-listing-controls">	
	<div class="btn-group pull-left">
		<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
			Batch actions
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<% railgun_resource.batch_actions.each do |batch_action| %>
			<li><%= link_to batch_action.label, "#", :class => "batch-action", :data => {'batch-method' => batch_action.key} %></li>
			<% end %>
		</ul>
	</div>
</div>