<%= simple_form_for resource, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
	
	<% editable_columns.each do |column| %>
		<%= attribute_field(resource, column, f) %>
	<% end %>
	
	<div class="form-actions">
		<%= f.button :submit, :class => "btn btn-primary" %>
		<%= link_to "Cancel", resource || [resource_class], :class => "btn" %>
	</div>
  </fieldset>
<% end %>