<div class="btn-toolbar pull-left">
  <div class="btn-group">
    <% railgun_resource.scopes.each do |scope| %>
    <%= link_to scope.name, params.merge({:scope => scope.key.to_s}), :class => "btn #{'active' if current_scope == scope.key}" %>
    <% end %>
  </div>
</div>
