<ul class="breadcrumb">
	<% count = 1 %>
	<% Railgun.interface.breadcrumbs.each do |crumb| %>
	<li<%= " class=active" if count >= Railgun.interface.breadcrumbs.length %>>
	<a href="<%= url_for(crumb[:path]) %>"><%= crumb[:title] %></a>
	<% if count < Railgun.interface.breadcrumbs.length then %><span class="divider">/</span><% end %>
	</li>
	<% count+= 1 %>
	<% end %>
</ul>