<article class="breadcrumbs">
	<a href="<%= root_path %>">Website Admin</a> 
	<% count = 1 %>
	<% Railgun.interface.breadcrumbs.each do |crumb| %>
	<div class="breadcrumb_divider"></div> 
	<a href="<%= url_for(crumb[:path]) %>" <%= "class='current'" if count < Railgun.interface.breadcrumbs.length-1 %>>
		<%= crumb[:title] %>
	</a>
	<% count+= 1 %>
	<% end %>
</article>